<p>{{{message}}}</p>

<h1> New Product </h1>

<form method="POST" action="/products" enctype="application/x-www-form-urlencoded">

  <ol>
    <li> Name:        <input name="name" type="text" value={{name}}> </li>
    <li> Price:       <input name="price" type="text" value={{price}}> </li>
    <li> Inventory:   <input name="inventory" type="text" value={{inventory}}> </li>
  </ol>

  <button type="submit"> CREATE NEW </button>

</form>

