<h1> Product edited </h1>

<div class="product">
  <h2> ID: {{id}}</h2>
  <ol>
    <li> Name: {{name}}> </li>
    <li> Price: {{price}}> </li>
    <li> Inventory: {{inventory}}> </li>
  </ol>

  <button type="button"> EDIT </button>

</div>

