<p>{{{message}}}</p>

<h1> New Product </h1>

<div class="product">

  <ol>
    <li> Name:        <input type="text"> </li>
    <li> Price:       <input type="text"> </li>
    <li> Inventory:   <input type="text"> </li>
  </ol>

  <button type="button"> CREATE NEW </button>

</div>

